.feature-example {
  padding: 20px;
  border: 1px dotted #ededed;
  overflow-x: auto;

  .example-view {
    background-color: #fff;
  }

  .example-code {
    margin-top: 20px;
  }
}

a small {
  font-size: 90%;
}
