// Utilities
//

$bg-height: 100px;
.util-bg {
  .bg-feature {
    height: $bg-height;
  }
}

$border-width: 100px;
$border-height: $border-width;
.util-border {
  .border-feature {
    width: $border-width;
    height: $border-height;
    background-color: lighten(#dee2e6, 9%);
  }
}

$flex-item-height-base: 32px;
.util-flex {
  .flex-item {
    padding: 10px 50px;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        background-color: rgba(0,0,0, 1/12*(12-$i)+0.1);
        height: $flex-item-height-base + $i * 12px;
      }
    }

    .item-text {
      width: 100%;
      text-align: center;
      color: #fff;
    }
  }

  .aligin-item {
    height: 150px;

    .flex-item {
      padding: 10px 50px;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          height: auto;
          font-size: 16px * (1 + $i);
        }
      }
    }
  }

  .aligin-content {
    height: 250px;

    .flex-item {
      padding: 10px 200px;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          height: $flex-item-height-base + 12px;
        }
      }
    }
  }
}

$float-item-height: 50px;
.util-float {
  .float-item {
    height: $float-item-height;
    line-height: $float-item-height;
    padding: 0 20px;
  }
}

$position-wrap-height: 200px;
$position-item-width: 200px;
$position-item-height: 100px;
.util-position {
  .position-view-wrap {
    height: $position-wrap-height;
  }

  .position-item {
    width: $position-item-width;
    height: $position-item-height;
  }
}

$shadow-feature-height: 100px;
.util-shadow {
  .shadow-feature {
    height: $shadow-feature-height;
  }
}

$view-item-height: 50px;
.util-view {
  .view-item {
    padding: 14px;
    height: $view-item-height;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        background-color: rgba(0,0,0, 1/12*(12-$i)+0.1);
      }
    }
  }
}
