@import "../../../../public/scss/variable";

.sidebar {
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  padding: $sidebar-padding;
  box-shadow: 0 0 5px 0 #ddd;
  overflow: auto;

  .sidebar-item {
    list-style: none;


  }
}