@import "../../common/scss/_variable";

%hover-focus {
  color: $cyan;
  code {
    color: $cyan;
  }
}

.submenu {
  position: fixed;
  top: $header-height;
  right: 0;
  padding-top: $sidebar-padding;
  padding-bottom: $sidebar-padding;
  width: $submenu-width;
  border-left: 1px solid lighten($cyan, 10%);

  .submenu-item {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $muted;
    font-size: 12px;

    &.active,
    &:hover {
      @extend %hover-focus;
    }
  }
}

@media screen and (max-width: 768px) {
  .submenu {
    display: none;
  }
}
