@import "../common/scss/variable";

$bg1: linear-gradient(to top, #a8caba 0%, #5d4157 100%);
$background-list: (
  1: $bg1,
);

//.aboutme-wrap {
//  color: #fff;
//  font-size: 50px;
//
//  .feature {
//
//    img {
//      display: inline-block;
//      width: 150px;
//      height: 150px;
//      vertical-align: middle;
//    }
//  }
//
//  @each $i, $value in $background-list {
//    .feature:nth-child(#{$i}) {
//      background-image: $value;
//    }
//  }
//}

$bgBase: #0a2d41;
$bg-list: (
  bg1: $bgBase,
  bg2: darken($bgBase, 3),
  bg3: lighten($bgBase, 3),
  bg4: darken($bgBase, 4),
  bg5: lighten($bgBase, 4),
  bg6: darken($bgBase, 5),
  bg7: lighten($bgBase, 5),
);

.aboutme-wrap {
  .feature {

  }

  @each $name, $value in $bg-list {
    .feature-#{$name} {
      background-color: $value;
    }
  }

  .time-bar {
    transform: rotateZ(-7deg) translateY(-20px);
  }

  .time-bar-triangle {
    width: 60px;
    height: 46px;
    border-top: 46px solid transparent;
    border-left: 80px solid #fff;
    border-bottom: 0;
  }

  .experience-item {
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    padding-bottom: 30px;

    &:nth-child(odd) {
      text-align: right;

      .media,
      ul {
        text-align: left;
      }
    }

    &:nth-child(even) {
      text-align: left;
    }

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}
